* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(105deg, #cbf7f7 0%, #d4e2ba 100%);
}

.container {
  padding-top: 6rem;
  padding-bottom: 3rem;
}
